html,
body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.nav {
    display: block;
    text-align: center;
    font: 24px/50px "Times New Roman";
    background-color: #495A80;
    color: #B0E0E6;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: 50px;
    /*line-height: 50px;*/
}

.container-flex {
    display: flex;
    flex-direction: column;
}